<% provide(:title, "About") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %> | Alyssa Schaffer</title>
  </head>
  <body>
    <h1>who she is</h1>
    <p>I am blablabla</p>
    <h2>what she's done</h2>
    <p>I did thisathisathis</p>
    <h3>what she does</h3>
    <p>now i do thatathatathat, please visit me! =)
    
        Find me in app/views/alyssa_homepage/contact.html.erb
  
    <a href="https://rails-tutorial-paulalex.c9.io">Alyssa's frontpage</a>.
       To get help on this sample app, see the
    <a href="https://rails-tutorial-paulalex.c9.io/alyssa_homepage/home"><em>Alyssa's home page</em>
       book</a>.
    </p>
  </body>
</html>