<% provide(:title, "Contact") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= yield (:title) %> | Alyssa Schaffer</title>
  </head>
  <body>
    <h1>how to contact her , maybe how to get to her ?</h1>
    <p> phone , mail , address?-map link? , blabla
        Find me in app/views/alyssa_homepage/contact.html.erb
  
    <a href="https://rails-tutorial-paulalex.c9.io">Alyssa's frontpage</a>.
       To get help on this sample app, see the
    <a href="https://rails-tutorial-paulalex.c9.io/alyssa_homepage/home"><em>Alyssa's home page</em>
       book</a>.
    </p>
  </body>
</html>